/**

	System User Interface
	-----------------------
	
	There are located all styles for system.
	You should not edit those styles unless
	you know Less and understand all lines bellow.
	
	System interface... Diamond System doesn't have
	any interface	without any package. But system will
	install some basic packages in installation process.
	Those	packages have their own styles in CSS.
	But if you use Diamond Designer, styles from this
	package are stored and edited in this file, so you
	can easily access those styles.

*/